
<!DOCTYPE html>
<html ng-app="demo1" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tamilsandhai</title>

    <!-- Bootstrap Core CSS -->
    <link href="hmepgefiles/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="hmepgefiles/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <%-- <link href="hmepgefiles/font-awesome.min.css" rel="stylesheet" />--%>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" >
    <form id="form1" runat="server">
        <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- /.navbar-collapse -->
				<div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>                   
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="page-scroll">
                            <a href="#page-top">Home</a>
                        </li>
						<li class="page-scroll">
                            <a href="#loginsection">Login</a>
                        </li>											
                        <li class="page-scroll">
                            <a href="#about">Aboutus</a>
                        </li>
						<li class="page-scroll">
                            <a href="#Astromarket">Astromarket</a>
                        </li>
                    </ul>
					<span style="float: right;margin-right: -30px;">
				 <a class="navbar-brand" href="#page-top">TAMIL SANDHAI</a>
				</span>
                </div>
				
                
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- Header -->
        <header>
            <div class="container" id="maincontent" tabindex="-1">                
                <div style="float: right; margin-right: 150px">
                    <h3 class="name">" I BELIEVE PLANETS "</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <div style="float: left">
								<hr class="star-light">
                                <h1 class="name">The beginning of the tradition</h1>
                                <hr class="star-light">                                
                            </div>
                            <div style="float: right">
                                <img class="img-responsive" src="images/solarsystem.jpg" alt="" style="width: 500px; height: 200px; border-radius: 9px">
                            </div>
                        </div>
                    </div>
                </div>
				<div style="float: right; margin-right: 150px">
                    <h3 class="name">" Learn and Earn "</h3>
                </div>				
            </div>
        </header>

		<section id="loginsection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Log In</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" ng-controller="Hello1">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                        <form >
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="userName">Username</label>
                                    <input ng-model="userName" type="text" name="userName" class="form-control" placeholder="userName" id="userName" required data-validation-required-message="Please enter your userName.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div> 
							
							<div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="password">password</label>
                                    <input ng-model="password" type="password" name="password" class="form-control" placeholder="password" id="password" required data-validation-required-message="Please enter your userName.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                        </form>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button ng-click="getLoginData()" type="button" class="btn btn-success btn-lg">LogIn</button>
                            </div>
                            <p class="form-group col-xs-12">Not registered? <a>Please Contact 9080905420</a></p>
                            <p class="form-group col-xs-12"><a ng-bind="infoText"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
		
		
		
        <section id="about" class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About us</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-2">
                        <ul class="list-unstyled">
                            <li style="font-size: 20px">Based on our ANCIENT ASTROLOGICAL methods we are conducting classes on the following topic:</li>
                            <br />
                            <ul style="color: black; font-weight: 600">
                                <li>1.	Market astrology</li>
                                <li>2.	Gann date ( pressure date & turning date)</li>
                                <li>3.	Square of 9 with astrological explanations</li>
                                <li>4.	Square of 12 with astrological explanations</li>
                                <li>5.	Market cycle using planetary movements.</li>
                            </ul>
                            <br />
                            <li style="font-size: 18px">Classes can be conducted for both groups and one to one individually based on your request</li>
                        </ul>
                        <span style="color: black; font-weight: 600">For further details contact</span>
                        <br />
                        K.Suresh Kumar,
                        <br />
                        Mobile:9080905420,
                        <br />
                        Email id :info@tamilsamdhai.com                                    
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid Section -->
        <section id="Astromarket">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Astromarket</h2>
                        <hr class="star-light">
                    </div>
                    <div class="col-lg-9 col-lg-offset-2">
                        <p style="text-align: justify; font-size: 15px">
                            Why astrology in the market? In general astrology can be used as a tool to predict the market.
                               The stock market and stocks are influenced by their respective planets.
                               The whole stock market is dominated my two planets namely jupiter and mercury.
                               The below column shows list of planets and their respective fields
                        </p>
                        <ul class="list-unstyled">
                            <li></li>
                            <ul style="font-weight: 600">
                                <li>1 Government bank        - jupiter + sun</li>
                                <li>2 private bank                 - jupiter + mercury</li>
                                <li>3 civil construction          - mars + saturn</li>
                                <li>5 FMCG                          - venus + moon</li>
                                <li>6 cement                         - moon</li>
                                <li>7 computer                      - mercury + venus + raghu</li>
                                <li>8 electrical                      - mars + mercury</li>
                                <li>9 telecommunication      - mercury + chandran</li>
                                <li>10 media                         - mercury + venus</li>
                                <li>11 automobile                - mars + venus</li>
                                <li>12 iron                            -  saturn</li>
                                <li>13 electonics                   - mercury + raghu</li>
                                <li>14 oil                              - Saturn + moon</li>
                                <li>15 textile                         - venus + jupiter</li>
                                <li>16 fertilizer                     -saturn + mars</li>
                                <li>17 chemical                    -mars</li>
                            </ul>
                        </ul>
                        <p style="font-size: 14px">
                            So far we had seen how astrology can affect the market. we can also analysis the 
                               individual birth chart to determine whether he can make profit in the stock market
                        </p>

                        <p style="color: lightblue; font-size: 15px">For Example, </p>

                        <p style="font-size: 14px">
                            * Fifth house and their lord,eleventh house and their lord along with the 
                             combination of Jupiter will be beneficial for stock market  investment.
                        </p>

                        <p style="font-size: 14px">
                            * If kethu is present in 12 th house it will produce beneficial result in
                             stock market
                        </p>
                        <p style="font-size: 14px">
                            * If Raghu and Venus present in the fifth house it will also give the beneficial 
                             result to the investor
                        </p>


                        <p style="font-size: 14px">
                            * However we have to analysis the individual birth chart before
                             arriving the conclusion.
                        </p>

                        <p style="font-size: 14px">
                            Please contact the following mobile or emil id for 
                            analysing their birth chart
                            <br />
                            Mobile:9080905420,
                            <br />
                            Email id :info@tamilsamdhai.com
                        </p>

                    </div>
                </div>
            </div>
        </section>       
        <!-- About Section -->
        <!-- Contact Section -->
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Location</h3>
                            KAALABAIRAVAA ,
                               Education and Astrology Research Centre,
                                Sakthi Complex,
                             Opposite to union Bank of India,
                              Trichy Road,
                               Palladam.                          
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>Around the Web</h3>
                            Share Market Investments are Subject to Market risk.....
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>About Tamilsandhai</h3>
                            WebServices , Development , Classes , Research On Share Market... 
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Tamilsandhai.com 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="hmepgefiles/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="hmepgefiles/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="hmepgefiles/jqBootstrapValidation.js"></script>
        <script src="hmepgefiles/contact_me.js"></script>
        <script src="js/newHomePage.js"></script>

        <!-- Theme JavaScript -->
        <script src="hmepgefiles/freelancer.min.js"></script>
    </form>
</body>

</html>
